<br></br>
<div class="container">
  <div class="jumbotron">
    <h1>Seja bem vindo!</h1>
    
    <p>
      Esse projeto Agenda de Contatos foi desenvolvido durante o curso de Ruby on Rails, ministrado pelo professor Jackson Pires na plataforma
      de cursos Udemy.
    </p>
    
    <p>
      Para quem deseja adquirir o curso segue o link: <a target="_blank" href="https://www.udemy.com/rubyonrails/">https://www.udemy.com/rubyonrails/</a>
    </p>
  </div>
</div>